// Common
.loader-image {
  &--fade-in {
    animation: var(--animation-fadein) 0.5s ease;
  }

  &__hash {
    animation: var(--animation-fadein) 0.5s ease;
  }
}

.carousel {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
  padding-inline: 50px;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%;
  z-index: 1;

  ::-webkit-scrollbar {
    display: none;
  }

  & > * {
    scroll-snap-align: center;
  }

  &__button {
    position: sticky;
    transition: opacity 0.5s ease;

    svg {
      color: var(--text-primary);
      filter: drop-shadow(0 0 10px black);
      height: 50px;
      width: 50px;
    }

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    &--previous {
      left: -20px;
    }

    &--next {
      right: -20px;
    }
  }
}


.copy-button {
  background-color: transparent!important;
  position: relative;
  transition: color 0.1s ease;

  &--copied {
    transition: color 1s ease;
  }

  &__icon {
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.05s ease;

    &--active {
      opacity: 1;
    }
  }
}

.copyable-field {
  align-items: center;
  display: flex;
  gap: 5px;

  &--show-hover {
    .copyable-field__button {
      opacity: 0;
      transition: opacity 0.25s ease;
      transition-delay: 0.5s;
    }

    &:hover {
      .copyable-field__button {
        opacity: 1;
        transition: opacity 0.25s ease;
      }
    }
  }

  &--copied {
    .copyable-field__button {
      opacity: 1;
    }
  }

  &__button {
    color: inherit;
    height: 1.4em;
    width: 1.4em;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.preview-password {
  background-color: var(--background-primary);
  border: 1px solid var(--background-tertiary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 95vw;
  padding: 20px;
  text-align: center;
  width: 500px;

  &__message {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__input {
    background-color: var(--background-tertiary);
    border: 1px solid var(--text-tertiary-alternate);
    border-radius: 5px;
    height: 45px;
    padding: 0 20px;
    text-align: center;
    width: 100%;

    &--invalid {
      border: 1px solid red;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__action {
    border: 1px solid var(--text-tertiary-alternate);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    height: 45px;
    width: 100%;
  }
}

.rich-text {
  display: grid;
  font-size: 16px;
  gap: 0.8em;

  * {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    line-height: 1.3em;

    * {
      font-size: 1em;
    }
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.2em;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  blockquote {
    padding: 30px 0 20px 20px;
  }

  a {
    color: var(--property-text-highlight);
    display: inline;
    overflow-wrap: break-word;
  }

  ol {
    counter-reset: item;
    list-style: none;

    li {
      counter-increment: item;
      margin-bottom: 5px;

      &::before {
        content: counter(item);
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        width: 0.8em;
      }
    }
  }

  ul {
    list-style: disc;
    margin-left: 1em;
  }

  @media screen and (width <= 1000px) {
    font-size: 14px;

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.6em;
    }

    h3 {
      font-size: 1.4em;
    }

    h4,
    h5,
    p {
      font-size: 1.1em;
    }
  }
}
