// Common
.loader-image {
  &--fade-in {
    animation: var(--animation-fadein) 0.5s ease;
  }
}

.carousel {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
  padding-inline: 50px;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%;
  z-index: 100;

  ::-webkit-scrollbar {
    display: none;
  }

  & > * {
    scroll-snap-align: center;
  }

  &__button {
    position: sticky;
    transition: opacity 0.5s ease;

    svg {
      color: var(--text-primary);
      filter: drop-shadow(0 0 10px black);
      height: 50px;
      width: 50px;
    }

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    &--previous {
      left: -20px;
    }

    &--next {
      right: -20px;
    }
  }
}


.copy-button {
  background-color: transparent!important;
  position: relative;
  transition: color 0.1s ease;

  &--copied {
    transition: color 1s ease;
  }

  &__icon {
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.05s ease;

    &--active {
      opacity: 1;
    }
  }
}

.copyable-field {
  align-items: center;
  display: flex;
  gap: 5px;

  &--show-hover {
    .copyable-field__button {
      opacity: 0;
      transition: opacity 0.25s ease;
      transition-delay: 0.5s;
    }

    &:hover {
      .copyable-field__button {
        opacity: 1;
        transition: opacity 0.25s ease;
      }
    }
  }

  &--copied {
    .copyable-field__button {
      opacity: 1;
    }
  }

  &__button {
    color: inherit;
    height: 1.4em;
    width: 1.4em;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

