.header {
  align-items: center;
  animation: var(--animation-fadein) 1s ease;
  background-color: black;
  display: flex;
  height: 60px;
  width: 100%;
}

.logo {
  height: 100%;
  width: auto;

  &__image,
  svg {
    height: 100%;
  }
}

.link {
  align-items: center;
  display: flex;
  gap: 5px;

  svg {
    height: 15px;
    width: 15px;
  }
}

.title {
  color: var(--text-primary);
  font-weight: 600;
  width: 100%;
}

.button {
  background: linear-gradient(90deg, var(--header-button-color-1), var(--header-button-color-2));
  border-radius: 40px;
  color: var(--text-primary);
  padding: 2px;
  transition: --header-button-color-1 0.25s, --header-button-color-2 0.25s;
  user-select: none;

  &:not(.button--active) {
    --header-button-color-1: transparent;
    --header-button-color-2: transparent;
  }

  &__content {
    align-items: center;
    background-color: black;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    padding: 5px 20px;
  }

  &__icon {
    height: 20px;
    width: 20px;
  }

  &__text {
    align-items: center;
    display: flex;
  }
}

@media screen and (width >= 1001px) {
  .logo {
    margin-right: 30px;
  }

  .header {
    gap: 5px;
    padding: 12px 20px;
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (width <= 1000px) {
  .header {
    gap: 15px;
    height: 50px;
    padding: 12px 10px;

    &--back {
      padding-inline: 20px;
    }
  }

  .logo {
    margin-right: 10px;
  }

  .button {
    font-size: 14px;
    padding: 2px;
  }

  .link {
    font-size: 14px;
  }

  .title {
    font-size: 12px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: max-content;
  margin-top: 15vh;
  padding-inline: 50px;

  &__link {
    align-items: center;
    color: var(--text-primary);
    cursor: pointer;
    display: flex;
    font-size: 22px;
    gap: 25px;

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
