.header {
  align-items: center;
  animation: var(--animation-fadein) 1s ease;
  background-color: black;
  display: flex;
  height: 60px;
  overflow: visible;
  position: relative;
  width: 100%;
  z-index: 1001;

  &--simple {
    justify-content: center;

    .title {
      width: max-content;
    }
  }
}

.back,
.logo {
  height: 100%;
  min-width: max-content;
  width: auto;

  &__image,
  svg {
    height: 100%;
  }
}

.header-menu {
  position: relative;
  user-select: none;
  z-index: 10;

  &__option,
  &__button {
    align-items: center;
    display: flex;
    font-weight: 500;
    gap: 5px;
    transition: color 0.5s ease;
    white-space: nowrap;

    svg {
      height: 20px;
      width: 20px;
    }

    &:hover,
    &:focus-visible {
      color: var(--text-primary);
    }

    &--sign-out {
      height: 45px;
      margin: 10px auto;
      max-width: 90%;
      min-height: 45px;
      padding: 0!important;
    }
  }

  &__button {
    padding: 10px;
  }

  &__dropdown {
    animation: var(--animation-fadein) 0.5s ease;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    position: absolute;
    z-index: 10;
  }

  &__option {
    gap: 10px;
    padding: 10px 25px 10px 15px;
    width: 100%;

    &:last-child {
      padding-bottom: 15px;
    }
  }
}

.title {
  color: var(--text-primary);
  font-weight: 600;
  width: 100%;
}

@media screen and (width >= 1001px) {
  .header-menu {
    &__button {
      font-size: 20px;
    }

    &__option {
      font-size: 20px;
    }
  }

  .back,
  .logo {
    margin-right: 10px;
  }

  .header {
    gap: 5px;
    padding: 12px 20px;
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (width <= 1000px) {
  .header {
    gap: 3px;
    height: 50px;
    padding: 12px 10px;
  }

  .logo {
    margin-right: 10px;
  }

  .back {
    margin-right: 5px;
  }

  .button {
    font-size: 14px;
    padding: 2px;
  }

  .link {
    font-size: 14px;
  }

  .title {
    font-size: 13px;
  }

  .header-menu__option {
    &--sign-out {
      font-size: 18px;
      height: 40px;
      margin: 0;
      max-width: unset;
      width: 100%;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: max-content;
  margin-top: 15vh;
  padding-inline: 50px;

  &__link {
    align-items: center;
    color: var(--text-primary);
    cursor: pointer;
    display: flex;
    font-size: 22px;
    gap: 25px;

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
