.header {
  align-items: center;
  animation: var(--animation-fadein) 1s ease;
  background-color: black;
  display: flex;
  height: 60px;
  width: 100%;
}

.logo {
  height: 100%;
  width: auto;

  svg {
    height: 100%;
  }
}

.link {
  align-items: center;
  display: flex;
  gap: 5px;

  svg {
    height: 15px;
    width: 15px;
  }
}

.title {
  color: var(--text-primary);
  font-weight: 600;
  width: 100%;
}

@media screen and (width >= 1001px) {
  .header {
    gap: 25px;
    padding: 12px 20px;
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (width <= 1000px) {
  .header {
    gap: 15px;
    height: 50px;
    padding: 12px 10px;

    &--back {
      padding-inline: 20px;
    }
  }

  .link {
    font-size: 14px;
  }

  .title {
    font-size: 12px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: max-content;
  margin-top: 15vh;
  padding-inline: 50px;

  &__link {
    align-items: center;
    color: var(--text-primary);
    cursor: pointer;
    display: flex;
    font-size: 22px;
    gap: 25px;

    svg {
      height: 30px;
      width: 30px;
    }
  }
}
