.media {
  max-height: min(100%, calc(100 * var(--vh)));

  // max-width: calc(100 * var(--vw));
  max-width: 100%;
  width: 100%;
}

.video {
  height: 100%;
  max-height: min(100%, calc(100 * var(--vh)));
  width: 100%;
}

@media screen and (width >= 1001px) {
  .media,
  .video {
    height: 100%;
  }

  .video {
    border-radius: 10px;
  }
}


@media screen and (width <= 1000px) {
  .media {

  }

  .video {
    margin-inline: auto;
  }
}
