.media-container {
  align-items: center;
  display: flex;
  position: relative;

  &--empty {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: center;
    min-height: 300px;
    user-select: none;
  }
}

.media {
  max-height: min(100%, calc(100 * var(--vh)));

  // height: 100%;
  // max-width: calc(100 * var(--vw));
  max-width: 100%;
  position: relative;
  width: 100%;

  &.media {
    &--pip {
      animation: 0.75s fadein ease;
      bottom: 95px;
      cursor: pointer;
      height: max-content !important;
      min-height: unset;
      min-width: 200px;
      position: absolute;
      right: 15px;
      transition: opacity 0.15s ease, outline 0.25s ease, box-shadow 0.25s ease;
      width: 25%;
      z-index: 10;

      &:hover {
        box-shadow: 0 0 7px rgb(0 0 0 / 50%);
      }

      &--under-menu {
        opacity: 0.5;
        z-index: 0;
      }

      .countdown-page__icons {
        display: none;
      }
    }
  }

  &--multiview {
    border-radius: 0!important;
    height: max-content!important;
  }
}

.countdown-page,
.video,
.bumper {
  height: 100%;
  max-height: min(100%, calc(100 * var(--vh)));
  width: 100%;
}

.video {
  animation: var(--animation-fadein) 2s ease;
}

.video-preview {
  align-items: center;
  animation: var(--animation-fadein) 1s ease;
  aspect-ratio: 16/9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  &__poster {
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    width: 100%;
  }

  &__play-button {
    backdrop-filter: blur(15px);
    background-color: rgb(0 0 0 / 60%);
    border-radius: 100%;
    height: 50px;
    padding: 13px;
    padding-left: 15px;
    position: absolute;
    width: 50px;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.bumper {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  inset: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;

  &__cover {
    background-color: rgb(0 0 0 / 66%);
    inset: 0;
    position: absolute;
  }

  &__background {
    animation: var(--animation-fadein) 1.5s ease;
    height: 100%;
    object-fit: contain;
    object-position: center;
    width: 100%;

    &--cover {
      object-fit: cover;
    }
  }

  &__video {
    background-color: transparent;
    inset: 0;
    position: absolute;

    video {
      background-color: transparent;
      object-fit: contain;
    }
  }

  &__controls {
    align-items: center;
    animation: var(--animation-fadein) 1s ease;
    display: flex;
    height: 100%;
    inset: 0;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  &__controls-background {
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__button-container {
    align-items: center;
    cursor: initial;
    display: flex;
    height: max-content;
    justify-content: center;
    padding: 20px;
    width: max-content;

    &--volume {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }

  &__play-button {
    background-color: white;
    border-radius: 100%;
    color: black;
    filter: drop-shadow(0 0 10px black);
    height: 60px;
    padding: 15px;
    width: 60px;
    z-index: 1;

    svg {
      color: black;
      fill: black;
      height: 100%;
      margin-left: 3px;
      stroke: black;
      width: 100%;
    }
  }

  &__volume-button {
    border-radius: 100%;
    color: black;
    height: 45px;
    padding: 10px;
    width: 45px;
    z-index: 1;

    svg {
      color: white;
      filter: drop-shadow(0 0 10px black);
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (width <= 1000px) {
    &__volume-button {
      height: 35px;
      width: 35px;
    }
  }
}

.next {
  animation: var(--animation-fadein) 1.5s ease;
  bottom: 20px;
  color: var(--text-primary);
  padding: 20px;
  position: absolute;
  right: 20px;

  &__timer {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  &__card {
    align-items: center;
    display: flex;
    gap: 20px;
    min-width: 500px;
    user-select: none;
  }

  &__card-thumbnail {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 240px;
  }

  &__card-title {
    font-size: 18px;
    font-weight: 600;
  }

  &__card-subtitle {
    color: var(--text-tertiary-alternate);
    font-size: 16px;
  }

  &__actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }

  &__action {
    border-radius: 5px;
    flex-grow: 1;
    font-weight: 600;
    height: 40px;

    &--cancel {
      background: rgb(0 0 0 / 70%);
    }

    &--next {
      background-color: white;
      color: black;
    }
  }

  @media screen and (width <= 1000px) {
    &__card {
      min-width: 350px;
    }

    &__card-thumbnail {
      width: 150px;
    }

    &__card-title {
      font-size: 16px;
    }

    &__card-subtitle {
      font-size: 14px;
    }

    &__action {
      height: 35px;
    }
  }

  @media screen and (width <= 650px) {
    bottom: 0;
    height: max-content;
    right: 0;
    width: 100%;

    &__card {
      max-width: 100%;
      min-width: unset;
      width: 100%;
    }

    &__action {
      font-size: 14px;
    }
  }
}

.countdown-page {
  align-items: center;
  animation: var(--animation-fadein) 1s ease;
  display: flex;
  justify-content: center;
  position: relative;

  &:focus-visible,
  &:hover {
    .countdown-page__close {
      opacity: 1;
    }
  }

  &__close {
    color: var(--text-tertiary-alternate);
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    z-index: 2;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__image,
  &__cover {
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
  }

  &__cover {
    background-color: black;
    opacity: 0.5;
  }

  &__content {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;

    * {
      text-shadow: 0 0 5px black;
    }
  }

  &__headers,
  &__icons {
    align-items: center;
    display: flex;
    gap: 20px;
  }

  &__icon {
    object-fit: contain;
  }

  &__countdown {
    animation: var(--animation-fadein) 0.5s ease;
    min-height: 50px;
  }

  &--multiview {
    aspect-ratio: 16/9;
    height: auto;

    * {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .countdown-page {
      &__icon {
        height: 50px;
        width: 50px;
      }

      &__content {
        gap: 0;
        padding: 10px;
      }

      &__title {
        font-size: 14px;
      }

      &__header,
      &__countdown {
        font-size: 12px;
      }

      &__countdown {
        min-height: unset;
      }
    }
  }
}

@media screen and (width >= 1001px) {
  .media {
    border-radius: var(--block-radius);
    overflow: hidden;
  }

  .media,
  .video {
    height: 100%;
  }

  .video {
    border-radius: var(--block-radius);
  }

  .countdown-page {
    &__content {
      padding: 50px;
    }

    &__title {
      font-size: 42px;
    }

    &__header {
      font-size: 20px;
    }

    &__countdown {
      font-size: 24px;
    }

    &__icon {
      height: 80px;
      width: 80px;
    }
  }
}


@media screen and (width <= 1000px) {
  .video {
    margin-inline: auto;
  }

  .countdown-page {
    &__content {
      padding: 40px 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__header {
      font-size: 14px;
    }

    &__countdown {
      font-size: 16px;
    }

    &__icon {
      height: 60px;
      width: 60px;
    }
  }
}

.multiview-media-grid {
  --height-buffer: 2;

  display: grid;
  width: 100%;

  &--fullscreen {
    --height-buffer: 0;
  }

  @media screen and (width > 1400px), (orientation: landscape) {
    &--3,
    &--4,
    &--5,
    &--6 {
      & > div,
      .media > div {
        max-height: calc((50 - var(--height-buffer)) * var(--vh));
      }
    }

    &--7,
    &--8,
    &--9,
    &--10,
    &--11,
    &--12 {
      & > div,
      .media > div {
        max-height: calc((33.3 - var(--height-buffer)) * var(--vh));
      }
    }

    &--13,
    &--14,
    &--15,
    &--16 {
      & > div,
      .media > div {
        max-height: calc((25 - var(--height-buffer)) * var(--vh));
      }
    }

    &--2 {
      grid-template-areas: "video-1 video-2";
      grid-template-columns: 1fr 1fr;
    }

    &--3 {
      grid-template-areas:
              "video-1 video-1 video-2 video-2"
              ". video-3 video-3 .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--4 {
      grid-template-areas:
              "video-1 video-2"
              "video-3 video-4";
      grid-template-columns: 1fr 1fr;
    }

    &--5 {
      grid-template-areas:
              "video-1 video-2 ."
              "video-1 video-2 video-5"
              "video-3 video-4 video-5"
              "video-3 video-4 .";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--6 {
      grid-template-areas:
              "video-1 video-2 video-3"
              "video-4 video-5 video-6";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--7 {
      grid-template-areas:
              "video-1 video-2 video-3"
              "video-4 video-5 video-6"
              ". video-7 .";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--8 {
      grid-template-areas:
              "video-1 video-1 video-2 video-2 video-3 video-3"
              "video-4 video-4 video-5 video-5 video-6 video-6"
              ".  video-7 video-7 video-8 video-8 .";
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &--9 {
      grid-template-areas:
              "video-1 video-2 video-3"
              "video-4 video-5 video-6"
              "video-7 video-8 video-9";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--10 {
      grid-template-areas:
              "video-1 video-2 video-3 video-4"
              "video-5 video-6 video-7 video-8"
              ". video-9 video-10 .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--11 {
      grid-template-areas:
              "video-1 video-2 video-3 video-4"
              "video-5 video-6 video-7 video-8"
              "video-9 video-10 video-11 .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--12 {
      grid-template-areas:
              "video-1 video-2 video-3 video-4"
              "video-5 video-6 video-7 video-8"
              "video-9 video-10 video-11 video-12";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--13 {
      grid-template-areas:
              "video-1 video-2 video-3 video-4"
              "video-5 video-6 video-7 video-8"
              "video-9 video-10 video-11 video-12"
              "video-13 . . .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--14 {
      grid-template-areas:
              "video-1 video-2 video-3 video-4"
              "video-5 video-6 video-7 video-8"
              "video-9 video-10 video-11 video-12"
              "video-13 video-14 . .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--15 {
      grid-template-areas:
              "video-1 video-2 video-3 video-4"
              "video-5 video-6 video-7 video-8"
              "video-9 video-10 video-11 video-12"
              "video-13 video-14 video-15 .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--16 {
      grid-template-areas:
              "video-1 video-2 video-3 video-4"
              "video-5 video-6 video-7 video-8"
              "video-9 video-10 video-11 video-12"
              "video-13 video-14 video-15 video-16";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media screen and (width <= 1400px) and (orientation: portrait) {
    &--2,
    &--4 {
      & > div,
      .media > div {
        max-height: calc(45 * var(--vh));
      }
    }

    &--3,
    &--5,
    &--6 {
      & > div,
      .media > div {
        max-height: calc(30 * var(--vh));
      }
    }

    &--7,
    &--8 {
      & > div,
      .media > div {
        max-height: calc(23 * var(--vh));
      }
    }


    &--2 {
      grid-template-areas:
              "video-1"
              "video-2";
      grid-template-columns: 1fr;
    }

    &--3 {
      grid-template-areas:
              "video-1"
              "video-2"
              "video-3";
      grid-template-columns: 1fr;
    }

    &--4 {
      grid-template-areas:
              "video-1 video-2"
              "video-3 video-4";
      grid-template-columns: 1fr 1fr;
    }

    &--5 {
      grid-template-areas:
              "video-1 video-2"
              "video-3 video-4"
              "video-5 .";
      grid-template-columns: 1fr 1fr;
    }

    &--6 {
      grid-template-areas:
              "video-1 video-2"
              "video-3 video-4"
              "video-5 video-6";
      grid-template-columns: 1fr 1fr;
    }

    &--7 {
      grid-template-areas:
              "video-1 video-2"
              "video-3 video-4"
              "video-5 video-6"
              "video-7 .";
      grid-template-columns: 1fr 1fr;
    }

    &--8 {
      grid-template-areas:
              "video-1 video-2"
              "video-3 video-4"
              "video-5 video-6"
              "video-7 video-8";
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (width <= 1000px) and (orientation: portrait) {
    padding-top: 10px;

    &--5,
    &--6,
    &--7,
    &--8 {
      .countdown-page {
        max-width: 50vw;

        &__icons {
          display: none;
        }
      }
    }

    &--4 {
      grid-template-areas:
              "video-1"
              "video-2"
              "video-3"
              "video-4";
      grid-template-columns: 1fr;

      & > div,
      .media > div {
        max-height: calc(21 * var(--vh));
      }
    }
  }
}
