.modal {
  backdrop-filter: blur(10px);
  background-color: rgb(0 0 0 / 70%);
  height: 100vh;
  inset: 0;
  position: fixed;
  user-select: text;
  width: 100vw;
  z-index: 1;

  &--align-top {
    .container {
      align-items: start;
    }
  }

  &--align-center {
    .container {
      align-items: center;
    }
  }

  &--hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-out;
    user-select: none;
  }

  &--visible {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

.container {
  display: grid;
  height: 100vh;
  inset: 0;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden auto;
  place-items: center center;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.content {
  display: flex;
  height: max-content;
  justify-content: center;
  position: relative;
  width: max-content;
  z-index: 1;
}

.close-container {
  display: flex;
  height: max-content;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}

.close {
  align-items: center;
  background-color: var(--background-secondary);
  border: 0;
  border-radius: 100%;
  box-shadow: 0 0 5px black;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
  z-index: 100;

  svg {
    height: 17px;
    width: 17px;
  }
}

@media screen and (width >= 1001px) {
  .container {
    padding: 5vh 0;
  }

  .close-container {
    right: 50px;
    top: 50px;
  }
}

@media screen and (width <= 1000px) {
  .container {
    padding-bottom: 30vh;
  }

  .close-container {
    bottom: 15vh;
    width: 100%;
  }

  .modal--unclosable {
    .container {
      padding-bottom: 0;
    }
  }
}
