.payment-page {
  align-items: center;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
  position: relative;
  width: 100%;

  &__header {
    background-color: black;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
  }

  &__loader,
  &__success {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    inset: 0;
    justify-content: center;
    position: absolute;
    width: 100%;
  }

  &__success {
    padding-bottom: 25vh;
    text-align: center;
  }

  &__success-title {
    color: var(--text-primary);
    font-weight: 600;
  }

  &__success-subtitle {
    font-size: 12px;
  }

  @media screen and (width <= 650px) and (orientation: portrait) {
    &:not(.payment-page--centered) {
      justify-content: flex-start;
    }
  }

  @media screen and (width <= 1000px) and (orientation: landscape) {
    align-content: start;
    display: grid;
    overflow-y: auto;
    padding: 0;
  }
}

.payment {
  max-width: 400px;
  padding: 20px;
  width: 100%;

  &--loader {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100px;
  }

  .message {
    color: var(--text-tertiary-alternate);
    margin-bottom: 5px;
  }
}

.qr-container {
  align-items: center;
  animation: var(--animation-fadein) 0.25s ease;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  padding: 20px 50px;
  width: 100%;

  &__code {
    height: 225px;
    width: 225px;
  }

  &__text {
    color: var(--text-tertiary-alternate);
  }

  &__logos {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  &__logo {
    width: max-content;

    &--apple {
      fill: white;
      height: 25px;
      stroke: white;
    }

    &--google {
      height: 20px;
    }
  }
}

.qr {
  aspect-ratio: 1;
  border-radius: 10px;
  height: 100%;
  min-height: 250px;
  min-width: 250px;
  overflow: hidden;
  width: 100%;
}

.item {
  animation: var(--animation-fadein) 0.5s ease;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 30px 20px;
  text-align: center;
  width: 100%;

  &__title {
    font-size: 20px;
  }

  &__price {
    font-size: 24px;
  }

  &__subtitle {
    font-size: 11px;
  }

  &__actions {
    margin-inline: auto;
    max-width: 250px;
  }

  &__action {
    font-size: 24px;
    height: 60px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__access-title {
    color: var(--text-tertiary-alternate);
    font-size: 12px;
  }

  &__title,
  &__price {
    color: var(--text-primary);
    font-weight: 700;
  }
}

.card {
  width: 100%;

  &__input {
    background: var(--background-tertiary);
    border: 1px solid #444;
    border-radius: 8px;
    height: 45px;
    padding: 12px;
  }

  &__submit {
    background: black;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    height: 45px;
    margin-top: 10px;
    transition: background 0.25s;
    width: 100%;

    &:hover {
      background: #070707;
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}

.terms {
  align-items: center;
  color: var(--text-tertiary-alternate);
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;

  * {
    width: 100%;
  }

  a {
    text-decoration: underline;
  }
}

.error {
  color: #a22;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
