.splash {
  animation: var(--animation-fadein) 1s ease;
  height: calc(100 * var(--vh));
  position: absolute;
  width: calc(100 * var(--vw));

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__loader {
    bottom: 10px;
    display: block;
    height: 50px;
    position: absolute;
    right: 10px;
    width: 50px;
    z-index: 10;
  }
}

.content {
  animation: var(--animation-fadein) 1s ease;
}

@media screen and (width >= 1001px) {
  .content {
    display: grid;
    gap: var(--gutter-size);
    grid-template-columns: 1fr 465px;
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh) - 60px);
    overflow: hidden;
    padding: var(--content-gutter-size);
    padding-top: 0;
  }

  .logo {
    bottom: 50px;
    right: 50px;
  }
}

@media screen and (width <= 1000px) {
  .content {
    display: grid;
    grid-template-rows: max-content 1fr;
    max-height: calc(100 * var(--vh) - 50px);
    overflow: hidden;

    &--with-top-banners {
      grid-template-rows: max-content max-content 1fr;
    }

    &--no-sidebar {
      grid-template-rows: 1fr;
      height: 100%;
      max-height: calc(100 * var(--vh) - 50px);
    }
  }

  .logo {
    bottom: 20px;
    right: 20px;

    span {
      font-size: 18px;
    }

    svg {
      height: 32px;
    }
  }
}

@media screen and (width <= 1000px) and (orientation: landscape) {
  .content {
    max-height: calc(100 * var(--vh));
  }
}
