.splash {
  animation: var(--animation-fadein) 1s ease;
  height: calc(100 * var(--vh));
  position: absolute;
  width: calc(100 * var(--vw));

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .logo {
    animation: var(--animation-fadein) 1.25s ease;
    background-color: var(--background-primary);
    border-radius: 10px;
    bottom: 50px;
    box-shadow: 0 0 10px black;
    padding: 10px 20px;
    position: absolute;
    right: 50px;
    z-index: 1;
  }
}

.content {
  animation: var(--animation-fadein) 1s ease;
}

@media screen and (width >= 1001px) {
  .content {
    display: grid;
    gap: var(--gutter-size);
    grid-template-columns: 1fr 500px;
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh));
    overflow: hidden;
    padding: var(--gutter-size);
  }
}


@media screen and (width <= 1000px) {
  .content {
    display: grid;
    grid-template-rows: max-content 1fr;
    max-height: calc(100 * var(--vh));
    overflow: hidden;
  }
}
