.menu {
  animation: var(--animation-fadein) 0.5s ease;

  // scrollbar-gutter: stable;
  background: var(--background-sidebar);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
  position: relative;
  width: 100%;
}

.block {
  border-bottom: 2px solid black;
}

.header {
  align-items: center;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: space-between;

  &__close {
    align-items: center;
    color: var(--text-tertiary);
    display: flex;
    height: 30px;
    justify-content: center;
    padding: 7px;
    position: absolute;
    right: 11px;
    top: 10px;
    width: 30px;
    z-index: 10;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.item {
  &__name {
    color: var(--text-primary);
    font-weight: 500;
  }

  &__badge {
    background-color: var(--button-background-color--custom, var(--button-background-color));
    border-radius: 2px;
    color: var(--button-text--custom, var(--button-text));
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    padding: 1px 8px;
    width: max-content;
  }
}

.missing {
  align-items: center;
  display: flex;
  gap: 40px;
}

.button {
  background-color: var(--background-button);
  border-radius: 5px;
  color: var(--text-primary);
  font-size: 14px;
  height: 35px;
  width: 100px;
}

.support {
  color: var(--text-tertiary-alternate);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 12px;
  justify-content: flex-end;

  a {
    text-decoration: underline;
  }
}

@media screen and (width >= 1001px) {
  .block {
    padding: 20px 20px 20px 30px;
  }

  .menu {
    border-radius: var(--block-radius);
  }

  .header {
    font-size: 24px;
  }
}

@media screen and (width <= 1000px) {
  .header {
    border-width: 1px;
    box-shadow: 0 0 3px black;
    font-size: 22px;
    position: sticky;
    top: 0;

    &__close {
      top: unset;
    }
  }

  .block {
    background-color: var(--background-primary);
    padding: 20px 30px 20px 20px;
  }

  .support {
    background: var(--background-dark);
  }

  .missing {
    font-size: 12px;
  }
}


.recovery {
  background: linear-gradient(0deg, rgb(25 25 25 / 60%) 0%, rgb(25 25 25 / 60%) 100%), linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
  border-radius: 30px;
  display: grid;
  gap: 20px;
  max-width: 800px;
  padding: 40px 50px;

  &__title {
    color: var(--text-primary);
    font-size: 28px;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 5px;
  }

  &__form {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 15px 0;
    width: 100%;
  }

  &__input {
    border: 1px solid var(--background-tertiary);
    width: 100%;

    &--invalid {
      border: 1px solid var(--text-error);
    }
  }

  &__submit {
    height: 100%;
    user-select: none;
    width: 150px;

    &:disabled {
      opacity: 0.7;
    }
  }

  &__info {
    display: grid;
    gap: 20px;
    grid-template-columns: 5fr 4fr;
  }

  &__info-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__image {
    border-radius: 5px;
  }

  @media screen and (width <= 1000px) {
    background: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 30px 0;
    text-align: center;
    width: 100vw;

    &__title-container,
    &__info {
      padding-inline: 30px;
    }

    &--concurrency-block {
      background-color: var(--background-primary);
      min-height: 100vh;
    }

    &__title-container,
    &__info,
    &__form {
      margin-inline: auto;
      max-width: 500px;
    }

    &__form {
      background-color: var(--background-primary);
      box-shadow: 0 0 10px black;
      padding: 20px 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__input {
      text-align: center;

      &::placeholder {
        font-size: 11px;
      }
    }

    &__submit {
      font-size: 14px;
      min-width: 100px;
    }

    &__info {
      display: flex;
      flex-direction: column-reverse;
    }

    &__info-description {
      font-size: 14px;
    }

    &__image-container {
      margin-inline: auto;
      max-width: 600px;
    }
  }
}
