.purchase {
  align-items: center;
  animation: var(--animation-fadein) 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: min(100%, calc(100 * var(--vh)));
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &--fullscreen {
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh));

    .items {
      max-height: calc(100 * var(--vh));
    }
  }
}

.background-cover,
.background {
  height: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
}

.background-cover {
  background-color: black;
  opacity: 0.5;
}

.items {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  position: relative;
  z-index: 1;

  &--vertical {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &--horizontal {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}

.vertical-item {
  animation: var(--animation-fadein) 0.5s ease;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  &__access-title {
    color: var(--text-tertiary-alternate);
    margin-bottom: 10px;
  }

  &__title,
  &__price {
    color: var(--text-primary);
    font-weight: 700;
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    width: 100%;
  }

  &__action {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: var(--text-primary);
    font-weight: 700;
    margin-top: 20px;
    transition: background-color 0.15s ease, color 0.1s ease;
    width: 100%;

    &:hover,
    &:focus-visible {
      background-color: white;
      color: black;
    }
  }
}

.horizontal-item {
  animation: var(--animation-fadein) 0.5s ease;
  background-color: var(--background-secondary);
  display: flex;
  gap: 30px;

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  &__access-title {
    color: var(--text-tertiary-alternate);
  }

  &__title,
  &__price {
    color: var(--text-primary);
    font-weight: 700;
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    width: 100%;
  }

  &__action {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: var(--text-primary);
    font-weight: 700;
    transition: background-color 0.15s ease, color 0.1s ease;
    width: 100%;

    &:hover,
    &:focus-visible {
      background-color: white;
      color: black;
    }
  }
}

.selected-item {
  animation: var(--animation-fadein) 0.5s ease;
  background-color: var(--background-tertiary);
  display: flex;
  height: max-content;
}

.payment {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__actions {
    animation: var(--animation-fadein) 0.5s ease;
    position: relative;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__option {
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;

    &--apple {
      background-color: black;

      svg {
        filter: invert(100%);
        height: 100%;
        width: auto;
      }
    }
  }

  &__terms {
    color: var(--text-tertiary-alternate);
    font-size: 11px;
    margin-top: 20px;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }

  &__item-info {
    margin-bottom: 20px;
    text-align: center;
  }

  &__status,
  &__error {
    align-items: center;
    background-color: var(--background-tertiary);
    display: flex;
    font-weight: 600;
    inset: 0;
    justify-content: center;
    position: absolute;
  }
}

@media screen and (width >= 1001px) {
  .purchase {
    border-radius: 10px;
  }

  .items {
    &--vertical {
      gap: 30px;
      padding: 20px;
    }

    &--horizontal {
      display: grid;
      gap: 8px;
      grid-template-columns: 1fr;
      height: max-content;
      padding: 20px;
      place-items: center center;
    }
  }

  .vertical-item {
    border-radius: 5px;
    height: 100%;
    max-height: 470px;
    max-width: 350px;
    padding: 40px 50px 50px;
    width: 350px;

    &__access-title {
      font-size: 18px;
    }

    &__title {
      font-size: 28px;
    }

    &__price {
      font-size: 44px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__action {
      font-size: 24px;
      height: 60px;
    }
  }

  .horizontal-item {
    align-items: center;
    border-radius: 5px;
    max-width: 800px;
    padding: 40px 30px;
    width: 100%;

    &__details {
      gap: 7px;
    }

    &__access-title {
      font-size: 16px;
    }

    &__title {
      font-size: 24px;
    }

    &__price {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__actions {
      align-items: center;
      flex-direction: column;
      max-width: 250px;
    }

    &__action {
      font-size: 20px;
      height: 50px;
      margin-top: 10px;
    }
  }

  .payment {
    padding: 50px;
    width: 420px;

    &__option {
      height: 60px;
    }

    &__error {
      font-size: 24px;
    }

    &__status {
      --loader-height: 80px;
      --loader-width: 8px;
    }
  }
}

@media screen and (width <= 1300px) and (width >= 1001px) {
  .horizontal-item {
    &__access-title {
      font-size: 14px;
    }

    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__actions {
      max-width: 170px;
    }
  }

  .vertical-item {
    height: max-content;
    padding: 50px;
  }

  .selected-item {
    flex-direction: column;
  }

  .payment {
    padding: 20px 50px;
    width: 350px;

    &__option {
      height: 45px;
    }

    &__terms {
      font-size: 9px;
    }

    &__error {
      font-size: 18px;
    }

    &__status {
      --loader-height: 50px;
    }
  }
}

@media screen and (width <= 1000px) {
  .items {
    height: 100%;
    max-height: calc(40 * var(--vh));
    min-height: calc(20 * var(--vh));
    width: 100%;

    &--vertical {
      display: grid;
      gap: 3px;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }

    &--horizontal {
      display: grid;
      gap: 3px;
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  .vertical-item {
    align-items: center;
    flex: 1 0 0;
    gap: 5px;
    height: 100%;
    justify-content: center;
    margin-inline: auto;
    min-height: 300px;
    padding: 20px 10px;
    position: relative;
    width: 100%;

    &__access-title {
      font-size: 12px;
    }

    &__price {
      font-size: 32px;
    }

    &__title {
      font-size: 18px;
    }

    &__subtitle {
      font-size: 12px;
      padding-inline: 10px;
    }

    &__action {
      background-color: white;
      color: black;
      height: 40px;
    }
  }

  .horizontal-item {
    align-items: center;
    height: 100%;
    padding: 20px;
    width: 100%;

    &__details {
      gap: 7px;
    }

    &__access-title {
      font-size: 14px;
    }

    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__actions {
      align-items: center;
      flex-direction: column;
      max-width: 150px;
    }

    &__action {
      font-size: 18px;
      height: 40px;
      margin-top: 10px;
    }
  }

  .selected-item {
    height: 100%;
    width: 100%;
  }

  .payment {
    height: 100%;
    min-height: 300px;
    padding: 20px;
    width: 100%;

    &__options {
      max-width: 400px;
    }

    &__option {
      height: 60px;

      &--back {
        font-size: 12px;
        height: 30px;
      }
    }

    &__status {
      --loader-height: 50px;
    }

    &__terms {
      display: flex;
      font-size: 10px;
      gap: 30px;
      justify-content: space-between;

      div {
        font-size: 9px;
      }

      button {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (width <= 600px) {
  .horizontal-item {
    &__access-title {
      font-size: 12px;
    }

    &__title {
      font-size: 18px;
    }

    &__price {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__actions {
      max-width: 100px;
    }

    &__action {
      font-size: 16px;
      height: 40px;
      margin-top: 10px;
    }
  }
}
