.purchase {
  align-items: center;
  animation: var(--animation-fadein) 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: min(100%, calc(100 * var(--vh)));
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &--fullscreen {
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh));

    .items {
      max-height: calc(100 * var(--vh));
    }
  }
}

.background-cover,
.background {
  height: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
}

.background-cover {
  background-color: black;
  opacity: 0.5;
}

.item-carousel {
  max-width: 100%;
  width: max-content;
}

.items {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  position: relative;
  z-index: 1;

  &--vertical {
    align-items: center;
    display: grid;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &--horizontal {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}

.vertical-item {
  animation: var(--animation-fadein) 0.5s ease;
  background-color: var(--background-secondary);
  box-shadow: 0 0 30px rgb(0 0 0 / 60%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;

  &--owned {
    background-color: var(--background-primary);
    pointer-events: none;
    user-select: none;

    & > * {
      opacity: 0.5;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__access-title {
    color: var(--text-tertiary-alternate);
  }

  &__title,
  &__price {
    color: var(--text-primary);
    font-weight: 700;
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    width: 100%;
  }

  &__action {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: var(--text-primary);
    font-weight: 700;
    margin-top: 20px;
    transition: background-color 0.15s ease, color 0.1s ease;
    width: 100%;

    &:hover,
    &:focus-visible {
      background-color: white;
      color: black;
    }
  }
}

.horizontal-item {
  animation: var(--animation-fadein) 0.5s ease;
  background-color: var(--background-secondary);
  display: flex;
  gap: 30px;

  &--owned {
    background-color: var(--background-primary);
    pointer-events: none;
    user-select: none;

    & > * {
      opacity: 0.5;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  &__access-title {
    color: var(--text-tertiary-alternate);
  }

  &__title,
  &__price {
    color: var(--text-primary);
    font-weight: 700;
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    width: 100%;
  }

  &__action {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: var(--text-primary);
    font-weight: 700;
    transition: background-color 0.15s ease, color 0.1s ease;
    width: 100%;

    &:hover,
    &:focus-visible {
      background-color: white;
      color: black;
    }
  }
}

.selected-item {
  animation: var(--animation-fadein) 0.5s ease;
  background-color: var(--background-secondary);
  border-radius: 5px;
  display: flex;
  height: max-content;
  overflow: hidden;

  .vertical-item {
    border-radius: 0;
    box-shadow: none;
    height: 100%;
  }
}

.payment {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__actions {
    align-items: center;
    animation: var(--animation-fadein) 0.5s ease;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__item-info {
    margin-bottom: 20px;
    text-align: center;
  }

  &__status,
  &__error {
    align-items: center;
    background-color: var(--background-tertiary);
    display: flex;
    font-weight: 600;
    inset: 0;
    justify-content: center;
    padding: 20px;
    width: 50%;
  }
}

.close {
  align-items: center;
  background-color: var(--background-tertiary);
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 15px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  z-index: 1;
}

@media screen and (width >= 1001px) {
  .purchase {
    border-radius: var(--block-radius);
  }

  .items {
    &--vertical {
      gap: 30px;
      padding: 20px;
    }

    &--horizontal {
      display: grid;
      gap: 8px;
      grid-template-columns: 1fr;
      height: max-content;
      padding: 20px;
      place-items: center center;
    }
  }

  .vertical-item {
    border-radius: 5px;
    height: 100%;
    max-height: 450px;
    max-width: 350px;
    min-width: 350px;
    padding: 70px 20px 50px;
    width: 350px;

    &__access-title {
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__title {
      font-size: 28px;
    }

    &__price {
      font-size: 44px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__actions {
      flex-grow: 1;
      height: 100%;
      margin-inline: auto;
      max-width: 250px;
    }

    &__action {
      font-size: 24px;
      height: 60px;
    }
  }

  .horizontal-item {
    align-items: center;
    border-radius: 5px;
    max-width: 800px;
    padding: 40px 30px;
    width: 100%;

    &__details {
      gap: 7px;
    }

    &__access-title {
      font-size: 16px;
    }

    &__title {
      font-size: 24px;
    }

    &__price {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__actions {
      align-items: center;
      flex-direction: column;
      max-width: 250px;
    }

    &__action {
      font-size: 20px;
      height: 50px;
      margin-top: 10px;
    }
  }

  .payment {
    width: 100%;

    &__option {
      height: 60px;
    }

    &__actions {
      height: 100%;
    }

    &__error {
      font-size: 20px;
    }

    &__status {
      --loader-height: 80px;
      --loader-width: 8px;
    }

    // Specificity
    .payment__form {
      padding-inline: 50px;
    }
  }

  @media screen and (width >= 1301px) {
    .selected-item {
      background-color: var(--background-tertiary);
      display: grid;
      grid-template-columns: 1fr 1fr;

      .vertical-item {
        max-width: unset;
        width: 100%;
      }
    }

    .payment {
      min-width: 400px;
    }
  }
}

@media screen and (width <= 1300px) and (width >= 1001px) {
  .horizontal-item {
    &__access-title {
      font-size: 14px;
    }

    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__actions {
      max-width: 170px;
    }
  }

  .vertical-item {
    padding: 50px;
  }

  .selected-item {
    flex-direction: column;
  }

  .payment {
    width: 350px;

    &__option {
      height: 45px;
    }

    &__terms {
      font-size: 9px;
    }

    &__status {
      --loader-height: 50px;
    }
  }
}

@media screen and (width <= 1000px) {
  .close {
    display: none;
  }

  .items {
    height: 100%;
    width: 100%;

    &--vertical {
      display: grid;
      gap: 3px;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }

    &--horizontal {
      display: grid;
      gap: 3px;
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  .vertical-item {
    align-items: center;
    flex: 1 0 0;
    gap: 5px;
    height: 100%;
    justify-content: center;
    margin-inline: auto;
    min-height: 250px;
    padding: 20px;
    position: relative;
    width: 100%;

    &__details {
      justify-content: center;
    }

    &__access-title {
      font-size: 12px;
    }

    &__price {
      font-size: 24px;
    }

    &__title {
      font-size: 14px;
    }

    &__subtitle {
      font-size: 11px;
      padding-inline: 10px;
    }

    &__action {
      background-color: white;
      color: black;
      height: 40px;
    }

    &:only-child {
      .vertical-item__title {
        font-size: 24px;
      }
    }
  }

  .horizontal-item {
    align-items: center;
    height: 100%;
    padding: 20px;
    width: 100%;

    &__details {
      gap: 7px;
    }

    &__access-title {
      font-size: 14px;
    }

    &__title {
      font-size: 20px;
    }

    &__price {
      font-size: 30px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__actions {
      align-items: center;
      flex-direction: column;
      max-width: 150px;
    }

    &__action {
      font-size: 18px;
      height: 40px;
      margin-top: 10px;
    }
  }

  .selected-item {
    background-color: var(--background-primary);
    height: 100%;
    padding-top: 10px;
    width: 100%;

    .vertical-item {
      &__title {
        font-size: 20px;
      }
    }
  }

  .payment {
    height: 100%;
    justify-content: flex-start;
    min-height: 300px;
    padding-top: 20px;
    width: 100%;

    &__item-info {
      margin-bottom: 0;
    }

    &__options {
      max-width: 400px;
    }

    &__option {
      height: 60px;

      &--back {
        font-size: 12px;
        height: 30px;
      }
    }

    &__status {
      --loader-height: 50px;
    }

    &__error {
      font-size: 12px;
    }

    &__actions {
      padding-inline: 20px;
    }

    &__terms {
      display: flex;
      font-size: 10px;
      gap: 30px;
      justify-content: space-between;

      div {
        font-size: 9px;
      }

      button {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (width <= 1000px) and (orientation: landscape) {
  .selected-item {
    padding-bottom: 0;
  }
}

@media screen and (width <= 600px) {
  .horizontal-item {
    &__access-title {
      font-size: 12px;
    }

    &__title {
      font-size: 18px;
    }

    &__price {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__actions {
      max-width: 100px;
    }

    &__action {
      font-size: 16px;
      height: 40px;
      margin-top: 10px;
    }
  }
}
