.menu {
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 100vw;
  overflow-y: auto;
  width: 500px;
}

.account {
  background: linear-gradient(0deg, rgb(25 25 25 / 60%) 0%, rgb(25 25 25 / 60%) 100%), linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
  padding: 20px 30px 10px 20px;

  &__message {
    font-weight: 500;
  }

  &__form {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__input {
    height: 40px;
    width: 100%;
  }

  &__submit {
    background-color: var(--background-button);
    border-radius: 3px;
    font-weight: 600;
    height: 40px;
    width: 250px;

    &:disabled {
      opacity: 0.5;
    }
  }

  &__id {
    align-items: center;
    color: var(--text-tertiary-alternate);
    display: flex;
    font-size: 12px;
    gap: 10px;
    margin-top: 20px;
  }
}

.no-items {
  padding: 25px 30px 0;
}

.item {
  background-color: var(--background-primary);
  display: grid;
  gap: 10px;
  padding: 20px 30px 20px 20px;

  &__name {
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 600;
  }

  &__badge {
    background-color: #B8862D;
    border-radius: 5px;
    color: var(--text-primary);
    display: flex;
    font-size: 14px;
    padding: 5px 10px;
    width: max-content;

    &:empty {
      display: none;
    }
  }
}

.support {
  color: var(--text-tertiary-alternate);
  font-size: 12px;
  padding: 20px;

  a {
    text-decoration: underline;
  }
}

@media screen and (width <= 500px) {
  .menu {
    min-height: 100vh;
  }

  .account {
    &__form {
      flex-direction: column;
      gap: 5px;
    }

    &__input {
      text-align: center;
    }

    &__submit {
      font-size: 12px;
      width: 100%;
    }
  }
}
