.serial-page {
  align-items: center;
  display: flex;
  height: calc(100 * var(--vh));
  justify-content: center;

  @media screen and (width >= 650px), (aspect-ratio >= 13 / 16), (aspect-ratio <= 7 / 16) {
    .serial {
      aspect-ratio: 9/16;
      width: auto;
    }
  }

  @media screen and (aspect-ratio <= 7 / 16) {
    .serial {
      height: auto;
    }
  }

  @media screen and (width >= 650px) and (height > 650px) {
    padding: 50px;

    .serial--active {
      border: 2px solid #333;
      border-radius: 10px;
    }

    .serial-item {
      padding: 0;
    }
  }

  @media screen and (width < 650px), (height < 650px) {
    .serial-arrow {
      display: none;
    }
  }
}

.serial-arrow {
  color: white;
  height: 35px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  width: 35px;
  z-index: 10;

  svg {
    height: 100%;
    width: auto;
  }

  &--top {
    top: 10px;
  }

  &--bottom {
    bottom: 10px;
  }

  &--vertical {
    position: absolute;
  }

  &--left {
    left: -50px;
  }

  &--right {
    right: -50px;
  }

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.serials-container {
  height: 100%;
  margin-inline: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  width: 100%;

  &__item {
    // This class is used for scrolling
    position: relative;
  }
}

.serial-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 100%;
  justify-content: center;
  overflow-x: visible;
  position: relative;
  width: 100%;
}

.serial {
  border: 2px solid transparent;
  display: flex;
  height: 100%;
  overflow-x: scroll;
  position: relative;
  scroll-snap-align: center;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  transition: border 0.3s ease;
  width: 100%;
}

.serial-item {
  align-items: center;
  background: black;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 100%;
  opacity: 1;
  position: relative;
  scroll-snap-align: center;
  transition: opacity 0.4s ease-in;
  width: 100%;

  &:not(&--active) {
    opacity: 0;
  }

  &__bumper,
  &__media,
  &__image {
    animation: fadein 0.5s ease;
    height: 100%;
    object-fit: cover;
    width: 100%;

    video {
      object-fit: cover;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &--error {
    align-items: center;
    color: #a00;
    display: flex;
    font-weight: 600;
    justify-content: center;
  }
}

.serial-progress {
  display: flex;
  gap: 3px;
  height: max-content;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 100;

  * {
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
  }

  &__media-item,
  &__bumper-item {
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  }

  &__media-item {
    background: rgb(255 255 255 / 15%);
    border-radius: 10px;
    flex-grow: 1;
    height: 5px;
    overflow: hidden;
    position: relative;

    &--active {
      background: rgb(255 255 255 / 35%);
    }
  }

  &__media-item-progress {
    background-color: white;
    height: 100%;
    left: 0;
    position: absolute;
  }

  &__bumper-item {
    background-color: rgb(255 255 255 / 25%);
    border-radius: 100%;
    height: 5px;
    width: 5px;

    &--active {
      background: gold;
    }
  }
}

.serial-video-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.serial-video {
  pointer-events: none;
  transition: opacity 0.5s ease;

  &--loading {
    opacity: 0;
  }

  &__loader {
    animation: var(--animation-fadein) 1s ease-in;
    position: absolute;
  }

  &__controls-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    padding-inline: 15px;
    position: absolute;
    top: 25px;
    width: 100%;
    z-index: 200;
  }

  &__title-container {
    align-items: center;
    display: flex;
    gap: 10px;
    pointer-events: none;
    user-select: none;
  }

  &__title-icon {
    height: 20px;
    width: auto;
  }

  &__title {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 0 3px black;
  }

  &__controls {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  &__controls-button {
    color: white;
    cursor: pointer;
    filter: drop-shadow(0 0 3px rgb(0 0 0 / 50%));
    height: 35px;
    padding: 5px;
    position: relative;
    width: 35px;

    &--volume {
      margin-top: 2px;
    }
  }

  &__controls-button-icon {
    height: 100%;
    inset: 0;
    object-fit: contain;
    opacity: 0;
    padding: 5px;
    position: absolute;
    width: 100%;

    &--active {
      opacity: 1;
      transition: opacity 0.2s ease;
    }
  }

  &__timer {
    animation: var(--animation-fadein) 0.5s ease;

    * {
      text-shadow: 0 0 3px black;
    }
  }
}
