.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.page-loader {
  align-items: center;
  display: flex;
  height: calc(100 * var(--vh));
  justify-content: center;
  position: absolute;
  width: calc(100 * var(--vw));
  z-index: 100;
}

.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  box-sizing: border-box;
  filter: blur(12px);
  height: var(--loader-height);
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
  padding: var(--loader-width);
  position: relative;
  width: var(--loader-height);
}

.loader::before {
  animation: l1 1.5s linear infinite;
  background: conic-gradient(var(--text-primary) 35%,var(--text-secondary),var(--text-disabled) 65%);
  content: "";
  inset: 0;
  position: absolute;
}

.opacity-hover {
  opacity: 1;
  transition: opacity 0.4s;

  &:focus-visible,
  &:hover {
    opacity: 0.7;
  }
}

.input {
  background-color: black;
  border: 0;
  border-radius: 5px;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;

  &::placeholder {
    color: var(--text-secondary);
  }
}

.styled-button {
  align-items: center;
  background: var(--button-background--custom);
  background-color: var(--button-background-color--custom, var(--button-background-color));
  border: var(--button-border-width--custom, var(--button-border-radius)) solid var(--button-border-color--custom, var(--button-border-color));
  border-radius: var(--button-border-radius--custom, var(--button-border-radius));
  color: var(--button-text--custom, var(--button-text));
  display: flex;
  justify-content: center;

  * {
    color: var(--button-text--custom, var(--button-text));
  }
}

.styled-secondary-button {
  align-items: center;
  border: 2px solid white;
  border-radius: var(--button-border-radius--custom, var(--button-border-radius));
  color: var(--text-primary);
  display: flex;
  justify-content: center;

  * {
    color: var(--text-primary);
  }
}

@keyframes l1 {
  to {rotate: 1turn}
}

.logo {
  align-items: center;
  display: flex;
  font-size: 22px;
  gap: 10px;
  position: relative;

  &__loader {
    --loader-height: 44px;

    left: 18px;
    position: absolute;
  }

  svg {
    height: 40px;
  }

  span {
    color: var(--text-primary);
    font-weight: 700;
  }
}
