.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.logo {
  align-items: center;
  display: flex;
  font-size: 22px;
  gap: 10px;

  &__loader {
    margin-left: 10px;
  }

  svg {
    height: 40px;
  }

  span {
    color: var(--text-primary);
    font-weight: 700;
  }
}
