.sidebar {
  --sidebar-inline-padding-left: 18px;
  --sidebar-inline-padding-right: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden auto;
  position: relative;
  scrollbar-gutter: stable;

  &__close {
    color: var(--text-tertiary);
    height: 30px;
    padding: 7px;
    width: 30px;
    z-index: 10;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    position: absolute;
    right: var(--sidebar-inline-padding-right);
    top: 15px;
    z-index: 10;
  }
}

.multiview-switch {
  align-items: center;
  background-color: #3C3C3C;
  border-radius: 3px;
  display: flex;
  overflow: hidden;

  * {
    transition: background-color 0.25s ease, color 0.25s ease, opacity 0.25s ease;
  }

  &__button {
    height: 30px;
    padding: 7px;
    width: 30px;

    &:hover {
      opacity: 0.7;
    }

    &--active {
      background-color: white;
      color: black;

      * {
        color: black;
      }
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.fullscreen-button {
  height: 42px;
  padding: 12px;
  position: absolute;
  right: -10px;
  top: calc(100% + 5px);
  transition: opacity 0.25s ease;
  width: 42px;
  z-index: 1;

  * {
    opacity: 0.7;
    transition: opacity 0.25s ease;
  }

  &:hover {
    * {
      opacity: 1;
    }
  }
}

.live-badge {
  background: red;
  border-radius: 3px;
  color: var(--text-primary);
  font-size: 12px;
  font-weight: 600;
  height: max-content;
  padding: 2px 8px;
  text-transform: uppercase;
  width: max-content;
}

.purchase-badge {
  bottom: 7px;
  color: white;
  filter: drop-shadow(0 0 5px black);
  height: 20px;
  left: 10px;
  position: absolute;
  width: 20px;
  z-index: 1;
}

.content-info {
  animation: var(--animation-fadein) 1s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 90px;
  padding: 20px var(--sidebar-inline-padding-right) 0 var(--sidebar-inline-padding-left);
  position: relative;
}

.multiview-modal-button {
  align-items: center;
  background: white;
  border-radius: 5px;
  color: black;
  display: flex;
  height: 25px;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 5px;
  width: 25px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.title-container {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
}

.title {
  color: var(--text-primary);
  font-family: var(--font-family-title);
  font-weight: 700;
}

.title-icon {
  max-height: 50px;
  min-width: 50px;
  object-fit: contain;
  width: 50px;
}

.subtitle {
  margin-top: 10px;

  &:empty {
    display: none;
  }

  &--purchase {
    text-decoration: underline;
  }
}

.banners {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: var(--sidebar-inline-padding-left);
  padding-right: var(--sidebar-inline-padding-right);
}

.banner {
  display: flex;
  height: 100%;
  max-height: 200px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  transition: opacity 0.5s ease;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  &__image {
    border-radius: 5px;
    margin: 0 auto;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__image-background {
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }
}

.tabs {
  align-items: center;
  border-bottom: 1px solid var(--background-tertiary);
  display: flex;
  font-weight: 600;
  gap: 20px;
  margin: 15px var(--sidebar-inline-padding-right) 0 var(--sidebar-inline-padding-left);
  padding: 0;
  user-select: none;
}

.tab {
  border-bottom: 3px solid transparent;
  color: var(--text-tertiary-alternate);
  padding-bottom: 5px;
  transition: color 0.5s ease, border 0.5s ease;

  &--active {
    border-bottom: 3px solid var(--text-secondary);
    color: var(--text-primary);
  }
}

.media {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.media-section {
  animation: var(--animation-fadein) 0.75s ease;

  &__title {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 8px;
    padding-left: var(--sidebar-inline-padding-left);
    padding-right: var(--sidebar-inline-padding-right);
    position: relative;

    &--large {
      border-bottom: 1px solid var(--background-tertiary);
      font-size: 22px;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
  }

  &__close {
    color: var(--text-tertiary);
    display: flex;
    height: 15px;
    position: absolute;
    right: 10px;
    width: 15px;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.history-link {
  align-items: center;
  color: var(--text-tertiary-alternate);
  display: flex;
  font-size: 12px;
  margin: 10px;
  white-space: nowrap;

  button {
    margin-left: 4px;
    text-decoration: underline;
  }
}

.links {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  gap: 50px;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

.item {
  align-items: flex-start;
  border-top: 1px solid #2C2C2C;
  display: flex;
  gap: 5px;
  height: max-content;
  min-height: 50px;
  padding: 15px var(--sidebar-inline-padding-right) 15px var(--sidebar-inline-padding-left);
  text-align: left;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.25s ease;
  user-select: none;
  width: 100%;

  * {
    text-align: left;
    transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease;
  }

  &--disabled {
    opacity: 0.8;
  }

  &--no-border {
    border-top: 0;
  }

  &--active {
    .item__title {
      text-decoration: underline;
    }
  }

  &:last-child {
    border-bottom: 1px solid #2C2C2C;
  }

  &__image-container {
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin-right: 10px;
    min-width: 150px;
    overflow: hidden;
    position: relative;
    width: 150px;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .live-badge {
    bottom: 5px;
    position: absolute;
    right: 5px;
  }

  &__text {
    align-content: start;
    display: grid;

    // flex-direction: column;
    flex: 1 1 0;
    height: max-content;
    max-width: 100%;
    min-height: 40px;
    padding-right: 5px;
    text-align: left;

    &--with-image {
      min-height: 70px;
    }
  }

  &__headers {
    color: var(--text-tertiary-alternate);
    font-size: 10px;
  }

  &__title {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--text-tertiary);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--purchase {
      text-decoration: underline;

      &:hover {
        color: var(--text-secondary);
      }
    }
  }

  &__date {
    color: var(--text-tertiary-alternate);
    font-size: 14px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 5px;
    height: 100%;
    justify-content: center;
    max-height: 100%;
    padding-left: 5px;
  }

  &__action {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    font-weight: 900;
    height: 30px;
    justify-content: center;
    margin-right: 5px;
    opacity: 0.5;
    padding: 6px;
    transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease;
    width: 30px;

    svg {
      height: 100%;
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.2;
    }

    &--active {
      background-color: white;
      opacity: 1;

      * {
        color: black;
      }
    }
  }
}


@media screen and (width >= 1001px) {
  .sidebar {
    background: var(--background-sidebar);
    background-color: var(--background-primary);

    // background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
    border-radius: var(--block-radius);
    height: 100%;
    width: 100%;
  }

  .content-info {
    padding-right: 70px;
  }

  .current-item {
    margin-bottom: 10px;
  }

  .title {
    font-size: 20px;
  }

  .media-section__close {
    display: none;
  }

  .banner {
    &__image-background {
      display: none;
    }
  }

  .reset-button {
    bottom: 0;
    right: 0;
  }

  .item {
    &--hover {
      background-color: #333;
      transition: background-color 0.25s ease;
    }
  }
}

@media screen and (width <= 1000px) {
  .sidebar {
    --sidebar-inline-padding-left: 10px;

    background-color: black;
    gap: 0;
    height: 100%;
    overflow-y: auto;

    &__close {
      display: none;
    }
  }

  .multiview-switch {
    display: none;
  }

  .content-info {
    padding: 0;

    & > .live-badge {
      display: none;
    }
  }

  .tabs {
    background-color: black;
    margin: 0;
    padding: 0 var(--sidebar-inline-padding-right) 0 var(--sidebar-inline-padding-left);
    padding-top: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .tab {
    font-size: 14px;
  }

  .current-item {
    background-color: var(--background-primary);
    box-shadow: 0 0 10px black;
    padding: 15px var(--sidebar-inline-padding-right) 10px var(--sidebar-inline-padding-left);
    top: 0;
    z-index: 2;
  }

  .title {
    font-size: 14px;
  }

  .subtitle {
    font-size: 12px;
  }

  .title-icon {
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
  }

  .banners {
    gap: 5px;
    padding: 0;
  }

  .banner {
    display: flex;
    max-height: 120px;

    &__image {
      border-radius: 0;
    }
  }

  .logo {
    padding-bottom: 30px;
  }

  .reset-button {
    bottom: 10px;
    right: 20px;
  }

  .item {
    * {
      font-size: 14px;
    }

    &__image-container {
      max-width: 120px;
      min-width: 120px;
      width: 120px;
    }

    &__title {
      font-size: 14px;
    }

    &__date,
    &__subtitle {
      font-size: 12px;
    }

    &--live,
    &__text {
      max-width: 100%;
    }

    &__actions {
      padding-right: 5px;
    }
  }

  .media-section {
    &__title {
      font-size: 16px;
      padding-top: 10px;
    }
  }
}

.multiview-selection-modal {
  --sidebar-inline-padding-left: 10px;
  --sidebar-inline-padding-right: 10px;

  max-height: calc(100 * var(--vh));
  min-width: 450px;

  .tabs-container {
    padding-top: 10px;
  }

  .tabs {
    background-color: transparent;
    padding-left: var(--sidebar-inline-padding-left);
    padding-right: var(--sidebar-inline-padding-right);
  }

  &__content {
    background: linear-gradient(0deg, rgb(25 25 25 / 60%) 0%, rgb(25 25 25 / 60%) 100%), linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
    height: calc(var(--vh) * 100 - 60px);
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  &__top-header {
    background: black!important;
  }

  &__header {
    align-items: center;
    background: linear-gradient(#272727, #1b1b1b);
    color: var(--text-primary);
    display: flex;
    font-size: 20px;
    height: 60px;
    justify-content: center;
    padding-left: var(--sidebar-inline-padding-left);
    padding-right: var(--sidebar-inline-padding-right);
    position: relative;
    width: 100%;
  }

  &__back {
    align-items: center;
    background-color: #525252;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 35px;
    justify-content: center;
    left: var(--sidebar-inline-padding-left);
    padding-right: 2px;
    position: absolute;
    width: 35px;

    svg {
      height: 50%;
      width: 50%;
    }
  }

  &__items {
    margin-bottom: 75px;
    max-height: calc(75 * var(--vh) - 250px);
    min-height: 100px;
    overflow-y: auto;
    padding: 10px 0 60px;
  }

  &__item-section {
    margin-top: 10px;
  }

  &__item-section-title {
    color: var(--text-primary);
    font-family: var(--font-family-title);
    padding: 0 var(--sidebar-inline-padding-right) 10px var(--sidebar-inline-padding-left);
  }

  &__mode {
    align-items: center;
    border-bottom: 1px solid #444;
    display: flex;
    gap: 20px;
    margin: 10px 20px 0;
  }

  &__mode-option {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 5px 0;
    transition: border 0.25s ease;
    user-select: none;

    &--selected {
      border-bottom: 1px solid white;
    }
  }

  &__limit {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 15px 15px 7px;
  }

  &__actions {
    align-items: center;
    background-color: #0f0f0f;
    bottom: 0;
    display: flex;
    gap: 10px;
    height: 75px;
    justify-content: center;
    padding: 0 30px 0 20px;
    padding-inline: 20px;
    position: absolute;
    width: 100%;
  }

  &__action {
    max-width: 200px;
    min-height: 40px;
    width: 100%;
  }

  @media screen and (width <= 1000px), ((height <= 1000px) and (orientation: landscape)) {
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh));
    max-width: 100vw;
    min-height: calc(100 * var(--vh));
    min-width: 100vw;

    &__items {
      max-height: calc(100 * var(--vh) - 150px);
    }
  }

  @media screen and (height <= 1000px) and (orientation: landscape) {
    &__back {
      display: none;
    }

    &__content {
      padding-inline: 30px;
      width: 100%;
    }

    &__actions {
      padding: 0;
      width: calc(100vw - 60px);
    }
  }
}
