.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden auto;
  position: relative;
}

.live-badge {
  background: red;
  border-radius: 3px;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 800;
  height: max-content;
  padding: 2px 8px;
  text-transform: uppercase;
  width: max-content;
}

.title-container {
  align-items: center;
  display: flex;
  gap: 5px;
}

.title {
  color: var(--text-primary);
  font-weight: 600;
}

.title-image {
  max-height: 50px;
  object-fit: contain;
  width: 50px;
}

.subtitle {
  margin-top: 10px;

  &:empty {
    display: none;
  }
}

.banners {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.banner {
  height: 100%;
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
  object-position: bottom;
  overflow: hidden;
  transition: opacity 0.5s ease;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  &__image {
    border-radius: 10px;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.media-card {
  display: grid;
  gap: 10px;
  max-width: 100%;
  overflow-x: hidden;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.8;
  }

  &__title {
    color: var(--text-primary);
  }

  &__subtitle {
    color: var(--text-tertiary);
    font-size: 14px;
    margin-top: 5px;

    &:empty {
      display: none;
    }
  }

  &__image-container  {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &--square {
      aspect-ratio: 1;
    }

    &--landscape {
      aspect-ratio: 16/9;
    }

    &--portrait {
      aspect-ratio: 2/3;
    }
  }

  &__image {
    max-width: 100%;
    object-fit: cover;
  }

  .live-badge {
    font-size: 12px;
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 1;
  }
}


@media screen and (width >= 1001px) {
  .sidebar {
    background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
    border-radius: 10px;
    height: 100%;
    padding: 15px 20px 50px;
    width: 100%;
  }

  .current-item {
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
  }

  .media-card {
    grid-template-columns: 170px 1fr;

    &__content {
      width: 250px;
    }

    &__title {
      font-size: 18px;
    }
  }
}


@media screen and (width <= 1000px) {
  .sidebar {
    background-color: black;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 70px;

    & > .live-badge {
      display: none;
    }
  }

  .current-item {
    background-color: var(--background-secondary);
    margin-bottom: 20px;
    padding: 20px;
  }

  .banners,
  .media {
    padding: 10px;
  }

  .media-card {
    grid-template-columns: 140px 1fr;

    &__content {
      width: calc(100% - 130px);
    }

    &__title {
      font-size: 16px;
    }
  }
}
