.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden auto;
  position: relative;
  scrollbar-gutter: stable;

  &__close {
    color: var(--text-tertiary);
    height: 30px;
    padding: 7px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    z-index: 10;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.live-badge {
  background: red;
  border-radius: 3px;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 600;
  height: max-content;
  padding: 2px 8px;
  text-transform: uppercase;
  width: max-content;
}

.content-info {
  animation: var(--animation-fadein) 1s ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.title-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.title {
  color: var(--text-primary);
  font-family: var(--font-family-title);
  font-weight: 700;
}

.title-icon {
  max-height: 50px;
  min-width: 50px;
  object-fit: contain;
  width: 50px;
}

.subtitle {
  margin-top: 10px;

  &:empty {
    display: none;
  }

  &--purchase {
    text-decoration: underline;
  }
}

.banners {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.banner {
  height: 100%;
  max-height: 200px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  transition: opacity 0.5s ease;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  &__image {
    border-radius: 10px;
    margin: 0 auto;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__image-background {
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }
}

.tabs {
  align-items: center;
  border-bottom: 1px solid var(--background-tertiary);
  display: flex;
  font-weight: 600;
  gap: 20px;
  margin-top: 20px;
  user-select: none;
}

.tab {
  border-bottom: 3px solid transparent;
  color: var(--text-tertiary-alternate);
  padding-bottom: 5px;
  transition: color 0.5s ease, border 0.5s ease;

  &--active {
    border-bottom: 3px solid var(--text-secondary);
    color: var(--text-primary);
  }
}

.media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.media-section {
  animation: var(--animation-fadein) 0.75s ease;

  &__title {
    align-items: center;
    color: var(--text-primary);
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;

    &--large {
      border-bottom: 1px solid var(--background-tertiary);
      font-size: 22px;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }
  }

  &__close {
    color: var(--text-tertiary);
    display: flex;
    height: 15px;
    position: absolute;
    right: 0;
    width: 15px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__media {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.media-card {
  display: grid;
  gap: 10px;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 15px;
  text-align: left;
  transition: opacity 0.5s ease;

  &:not(:last-child) {
    border-bottom: 1px solid var(--background-tertiary);
  }

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    user-select: none;
  }

  &--active {
    .media-card__title {
      text-decoration: underline;
    }
  }

  &__title {
    color: var(--text-primary);
    font-family: var(--font-family-title);
    font-weight: 600;
    padding-right: 5px;
  }

  &__subtitle {
    animation: var(--animation-fadein) 0.2s ease;
    color: var(--text-tertiary);
    font-size: 14px;
    margin-top: 5px;

    &:empty {
      display: none;
    }

    &--purchase {
      text-align: left;
      text-decoration: underline;
    }
  }

  &__image-container  {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &--square {
      aspect-ratio: 1;
    }

    &--landscape {
      aspect-ratio: 16/9;
    }

    &--portrait {
      aspect-ratio: 2/3;
    }
  }

  &__image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }

  .live-badge {
    font-size: 12px;
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 1;
  }

  .purchase-badge {
    bottom: 10px;
    color: white;
    filter: drop-shadow(0 0 5px black);
    height: 20px;
    left: 10px;
    position: absolute;
    width: 20px;
    z-index: 1;
  }
}

.history-link {
  align-items: center;
  color: var(--text-tertiary-alternate);
  display: flex;
  font-size: 12px;
  margin: 10px;
  white-space: nowrap;

  button {
    margin-left: 4px;
    text-decoration: underline;
  }
}

.links {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  gap: 50px;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

@media screen and (width >= 1001px) {
  .sidebar {
    background: var(--background-sidebar);
    background-color: var(--background-primary);

    // background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
    border-radius: var(--block-radius);
    height: 100%;
    padding: 15px 20px;
    width: 100%;
  }

  .current-item {
    margin-bottom: 20px;
  }

  .title {
    font-size: 20px;
  }

  .media-section__close {
    display: none;
  }

  .media-card {
    grid-template-columns: 170px 1fr;

    &__content {
      width: 250px;
    }

    &__title {
      font-size: 16px;
    }
  }

  .banner {
    &__image-background {
      display: none;
    }
  }

  .reset-button {
    bottom: 0;
    right: 0;
  }
}


@media screen and (width <= 1000px) {
  .sidebar {
    background-color: black;
    gap: 0;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10px;

    &__close {
      display: none;
    }
  }

  .content-info {
    & > .live-badge {
      display: none;
    }
  }

  .tabs {
    background-color: black;
    margin: 0;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .tab {
    font-size: 14px;
  }

  .current-item {
    background-color: var(--background-primary);
    box-shadow: 0 0 10px black;
    padding: 15px 40px 10px 10px;
    top: 0;
    z-index: 2;
  }

  .title {
    font-size: 14px;
  }

  .subtitle {
    font-size: 12px;
  }

  .title-icon {
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
  }

  .media {
    padding: 10px;
  }

  .banners {
    gap: 5px;
    padding: 0;
  }

  .banner {
    display: flex;
    max-height: 120px;

    &__image {
      border-radius: 0;
    }
  }

  .media-card {
    grid-template-columns: 140px 1fr;

    &__content {
      padding-right: 10px;
    }

    &__title {
      font-size: 14px;
    }

    &__subtitle {
      font-size: 12px;
    }
  }

  .logo {
    padding-bottom: 30px;
  }

  .reset-button {
    bottom: 10px;
    right: 20px;
  }
}
