.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden auto;
  position: relative;
}

.live-badge {
  background: red;
  border-radius: 3px;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 600;
  height: max-content;
  padding: 2px 8px;
  text-transform: uppercase;
  width: max-content;
}

.title-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.title {
  color: var(--text-primary);
  font-weight: 700;
}

.title-icon {
  max-height: 50px;
  min-width: 50px;
  object-fit: contain;
  width: 50px;
}

.subtitle {
  margin-top: 10px;

  &:empty {
    display: none;
  }
}

.banners {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.banner {
  height: 100%;
  max-height: 200px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  transition: opacity 0.5s ease;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  &__image {
    border-radius: 10px;
    margin: 0 auto;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__image-background {
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }
}

.media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.media-section {
  &__title {
    border-bottom: 1px solid var(--color-border);
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  &__media {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.media-card {
  display: grid;
  gap: 10px;
  max-width: 100%;
  overflow-x: hidden;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.8;
  }

  &--active {
    .media-card__title {
      color: var(--text-highlight);
    }
  }

  &__title {
    color: var(--text-primary);
    font-weight: 600;
  }

  &__subtitle {
    color: var(--text-tertiary);
    font-size: 14px;
    margin-top: 5px;

    &:empty {
      display: none;
    }
  }

  &__image-container  {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &--square {
      aspect-ratio: 1;
    }

    &--landscape {
      aspect-ratio: 16/9;
    }

    &--portrait {
      aspect-ratio: 2/3;
    }
  }

  &__image {
    max-width: 100%;
    object-fit: cover;
  }

  .live-badge {
    font-size: 12px;
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 1;
  }
}

.logo {
  align-items: flex-end;
  flex-grow: 1;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 10px;
  position: relative;
  user-select: none;
  width: 100%;

  svg {
    height: 25px;
  }

  span {
    font-size: 14px;
  }
}

.reset-button {
  color: var(--text-tertiary-alternate);
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  text-decoration: underline;
}

@media screen and (width >= 1001px) {
  .sidebar {
    background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    height: 100%;
    padding: 15px 20px;
    width: 100%;
  }

  .current-item {
    margin-bottom: 20px;
  }

  .title {
    font-size: 20px;
  }

  .media-card {
    grid-template-columns: 170px 1fr;

    &__content {
      width: 250px;
    }

    &__title {
      font-size: 16px;
    }
  }

  .banner {
    &__image-background {
      display: none;
    }
  }

  .reset-button {
    bottom: 0;
    right: 0;
  }
}


@media screen and (width <= 1000px) {
  .sidebar {
    background-color: black;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10px;

    & > .live-badge {
      display: none;
    }
  }

  .current-item {
    background-color: var(--background-primary);
    box-shadow: 0 0 10px black;
    padding: 15px 20px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .title {
    font-size: 14px;
  }

  .subtitle {
    font-size: 12px;
  }

  .title-icon {
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
  }

  .media {
    padding: 10px;
  }

  .banners {
    gap: 5px;
    padding: 0;
  }

  .banner {
    display: flex;
    max-height: 120px;

    &__image {
      border-radius: 0;
    }
  }

  .media-card {
    grid-template-columns: 140px 1fr;

    &__content {
      padding-right: 10px;
    }

    &__title {
      font-size: 14px;
    }
  }

  .logo {
    padding-bottom: 30px;
  }

  .reset-button {
    bottom: 10px;
    right: 20px;
  }
}
