:root {
  --font-family: montserrat, "Helvetica Neue", helvetica, sans-serif;
}

* {
  font-synthesis: none;
  -webkit-overflow-scrolling: touch;

  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #333;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 100px;
    opacity: 1;
  }
}

html {
  color-scheme: dark;
  overscroll-behavior: none;
}

body {
  background-color: black;
  color: var(--text-secondary);
  font-family: var(--font-family);
}

a,
input,
textarea,
button {
  &:focus {
    outline: 0;
  }

  &:focus-visible {
    box-shadow: 0 0 3px white;
    outline: 0;
  }
}

.page-container {
  position: relative;
}

.home-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
