 body {
   background-color: var(--background-primary);
   color: var(--text-secondary);
   font-family: Inter, "DM Sans", "Helvetica Neue", helvetica, sans-serif;
 }

 .page-container {
   position: relative;
 }
