html {
  overscroll-behavior: none;
}

body {
   background-color: black;
   color: var(--text-secondary);
   font-family: Montserrat, "Helvetica Neue", helvetica, sans-serif;
 }

 .page-container {
   position: relative;
 }

 .home-page {
   align-items: center;
   display: flex;
   justify-content: center;
 }
