:root {
  --color-highlight: #BD6DFF;
  --rgb-color-highlight: 188, 118, 236;
  --color-highlight-secondary: #7787ec;
  --background-primary: #151515;
  --background-secondary: #1d1d1d;
  --background-tertiary: #272727;
  --background-gradient: linear-gradient(225deg, #373737, #0f0f0f);
  --background-sidebar: linear-gradient(0deg, rgb(25 25 25 / 60%) 0%, rgb(25 25 25 / 60%) 100%), linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
  --background-content: #000;
  --background-button: #323232;
  --text-primary: #fff;
  --text-secondary: #BDBDBD;
  --text-secondary-alternate: #FAFAFA;
  --text-tertiary: #818590;
  --text-tertiary-alternate: #A5A6AB;
  --text-disabled: #4b494e;
  --text-highlight: var(--color-highlight);
  --text-highlight-secondary: var(--color-highlight-secondary);
  --text-error: #ce6666;
  --color-border: #2C2C2C;
  --animation-fadein: fadein;
  --content-gutter-size: 10px;
  --gutter-size: 10px;
  --block-radius: 5px;
  --loader-height: 40px;
  --loader-width: 5px;
  --button-background-color: #FFF;
  --button-text: #000;
  --button-border-color: #FFF;
  --button-border-width: 0px;
  --button-border-radius: 5px;

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@property --header-button-color-1 {
  inherits: false;
  initial-value: #FFAA01;
  syntax: '<color>';
}

@property --header-button-color-2 {
  inherits: false;
  initial-value: #FFE000;
  syntax: '<color>';
}
