:root {
  --color-highlight: #BD6DFF;
  --rgb-color-highlight: 188, 118, 236;
  --color-highlight-secondary: #7787ec;
  --background-primary: #151515;
  --background-secondary: #1b1b1c;
  --text-primary: #fff;
  --text-secondary: #BDBDBD;
  --text-tertiary: #818590;
  --text-disabled: #4b494e;
  --text-highlight: var(--color-highlight);
  --text-highlight-secondary: var(--color-highlight-secondary);
  --text-error: #ce6666;
  --color-border: #2C2C2C;
  --animation-fadein: fadein;
  --gutter-size: 8px;

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
